{{#each .}}

<div class="user" data-userId="{{UserId}}" data-lat="{{Lat}}" data-lng="{{Lng}}">
    <div class="name">{{FirstName}} {{LastName}}</div>
    <button class="locateBtn">Search</button>
</div>

{{/each}}